@inject IStringLocalizer<App> Translator
@using FluentValidation.Results

@if (ValidationResult != null 
&& ValidationResult.Errors.Any(e => e.PropertyName == FieldName) 
&& AlreadyFocus.Any(a => a == FieldName)
&& CurrentFieldFocus != FieldName)
{
    <span>@Translator.GetString(ValidationResult.Errors.First(e => e.PropertyName == FieldName).ErrorMessage)</span>
}
@code{
    [Parameter]
    public ValidationResult ValidationResult { get; set; }

    [Parameter]
    public string FieldName { get; set; }   
    
    [Parameter]
    public string CurrentFieldFocus { get; set; }

    [Parameter]
    public List<string> AlreadyFocus { get; set; }
}