@page "/ssh"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@inject IStringLocalizer<App> Translator

<Button Type="primary" class="mb-4 mt-4" Style="float:right;" OnClick="@(()=>{ visible = true; })">Create or import SSH Key</Button>

<SshKeyCreateModal Visible="@visible" />

@if (SshKeyState != null && SshKeyState.Value != null && SshKeyState.Value.IsLoading)
{
    <div class="mt-4" style="width:100%; text-align:center;">
        <Spin Style="text-align:center; margin:auto" size="large" />
    </div>
}

@if (SshKeyState != null && SshKeyState.Value != null && SshKeyState.Value.SshKeys != null)
{
    <SshKeyTable />
}