<div class="row">
    <div class="col-sm-12">
        <div class="profile-bg-picture" style="background-image:url('assets/images/bg-profile.jpg')">
            <span class="picture-bg-overlay"></span>
            <!-- overlay -->
        </div>
        <!-- meta -->
        <div class="profile-user-box">
            <div class="row">
                <div class="col-sm-6">
                    <h4 class="mt-5 font-18 ellipsis">{{ identityService?.currentUserValue?.username | uppercase }}
                    </h4>
                </div>
            </div>
        </div>
        <!--/ meta -->
    </div>
</div>