@if (!IsLoad)
{
    <div class="mt-4" style="width:100%; text-align:center;">
        <Spin Style="text-align:center; margin:auto" size="large" />
    </div>
}

@code {

    [Parameter]
    public bool IsLoad { get; set; }
}
