@page "/"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@if (DatacenterState != null && DatacenterState.Value != null && DatacenterState.Value.IsLoading)
{
    <div class="mt-4" style="width:100%; text-align:center;">
        <Spin Style="text-align:center; margin:auto" size="large"></Spin>
    </div>
}
else
{
    if (DatacenterState.Value.Nodes != null)
    {
        <div class="mt-4">
            <DatacenterNodeTable />
        </div>
    }
}
