.used {
    display: inline-block;
    background: #faad14;
    height: 20px;
    margin: 0px;
    padding: 0px;
}

.claim {
    display: inline-block;
    background: #1890ff;
    height: 20px;
    margin: 0px;
    padding: 0px;
    transition: all ease 0.5s;
}

.node-usage {
    display: block;
    width: 100%;
    padding: 2px;
    border: 1px solid #d9d9d9;
    height: 26px;
}
