@page "/k3s"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<Button Type="primary" class="mb-4 mt-4" Style="float:right;" OnClick="@(()=> DisplayModal())">Deploy new cluster</Button>

<ClusterCreateModal Visible="@Visible" OnCloseCallback="@HideModal" />

<Loader IsLoad="!IsLoad" />

@if (!IsLoad)
{
    <ClusterTable />
}