@page "/domain-ssl"
@inherits CoreComponent

<Button Type="primary" class="mb-4 mt-4" Style="float:right;" OnClick="@(()=>{ visible = true; })">Claim root domain</Button>
<Kubernox.UI.Components.DomainName.CreateModalForm Visible="@visible" OnCloseCallback="@HideModal" />

<Loader IsLoad="!IsLoad" />

@if (!IsLoad)
{
    <DomainNameTable />
}