@using Infrastructure.Contracts.Request

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<Form Layout="@Layout"
Model="@DomainNameCreateRequest">
    <FormItem Label="Domain Name">
        <Input @bind-Value="@context.Name" />
    </FormItem>
    <FormItem Label="Root Domain (*)">
        <Input @bind-Value="@context.RootDomain" />
    </FormItem>
</Form>